<ion-grid *ngIf="profile !== null">

    <ion-row id="trainerSection">
        <ion-col>
            <ion-row>
                <div id="teamBg" [style.background-image]="'url(' + getTeamImage() + ')'"></div>
                <div *ngFor="let pokemon of profile.featuredPokemen; index as i" class="pkmn" [attr.id]="'pkmn' + (i + 1)">
                    <img [attr.id]="'pkmn' + (i + 1) + 'Img'"
                        src="{{pokemon.pogoImageUrl}}"
                        alt="{{pokemon.name}}">
                </div>
                <div id="trainerModel">
                    <img src="https://raw.githubusercontent.com/TeamTomodachi/GakkoDocs/master/Development/Frontend/Assets/trainer_m.png"
                        alt="Trainer">
                </div>
            </ion-row>
        </ion-col>

        <div id="trainerDesc">
            <ion-row>
                <ion-col>Trainer</ion-col>
            </ion-row>
            <ion-row *ngFor="let pokemon of profile.featuredPokemen; index as i">
                <ion-col *ngIf="i === 0" size="3">&amp;</ion-col>
                <ion-col [attr.id]="'pkmn' + (i + 1) + 'Text'">{{pokemon.name}}</ion-col>
            </ion-row>
        </div>

    </ion-row>

    <ion-row id="achievementSection">
        <ion-col>{{profile.level}}<br>LEVEL</ion-col>
        <ion-col>
            <ion-icon size="large" name="bicycle"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon size="large" name="school"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon size="large" name="logo-yen"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon size="large" name="musical-note"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon size="large" name="contacts"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-row id="trainerNav" align-items-end justify-content-end>
        <ion-col text-center size="4">
            <ion-icon padding-horizontal size="large" name="journal"></ion-icon>
            <ion-label size="large">Pokedex</ion-label>
        </ion-col>
        <ion-col text-center size="4">
            <ion-icon padding-horizontal size="large" name="logo-octocat"></ion-icon>
            <ion-label size="large">Teams</ion-label>
        </ion-col>
        <ion-col text-center size="4">
            <ion-icon padding-horizontal size="large" name="git-compare"></ion-icon>
            <ion-label size="large">Trades</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>
