ion-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    // border: 1px solid rgb(245, 0, 204);

    ion-col {
        // border: 1px solid yellow;
    }
}

#trainerSection,
#achievementSection,
#trainerNav {
    // border: 1px solid #000;
}

#trainerSection {
    position: relative;
    flex-grow: 1;
    border: 1px solid salmon;
    height: 100%;
    width: 100%;

    >ion-col {
        height: 100%;
        width: 100%;

        --ion-grid-column-padding: 0;

        ion-row {
            height: 100%;
            width: 100%;

            #teamBg {
                height: 100%;
                width: 100%;
                background-image: url("../../assets/bg_mfade.png");
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    // Hard-Coded Assets until we can figure something dynamic with this (need DB)
    .pkmn {
        position: absolute;
        bottom: -6%;
        
        border: 1px solid black;
    }

    #pkmn1 {
        left: -17%;
        z-index: 1;
    }

    #pkmn2 {
        left: 5%;
        bottom: 22%;
        z-index: 0;
    }

    #pkmn3 {
        left: 12%;
        z-index: 2;
    }

    #trainerModel {
        position: absolute;
        bottom: 0;
        right: 0;

        height: 75%;

        z-index: 4;
        border: 2px solid red;
    }
    // End Asset


    #trainerDesc {
        position: absolute;
        left: 5%;
        top: 30%;

        // display: none;

        width: 30%;

        border: 1px solid purple;
        color: white;

        z-index: 2;
    }
}

#achievementSection {
    position: relative;

    height: auto;

    text-align: center;
}

#trainerNav {
    position: relative;
    bottom: 0;
    height: auto;

    ion-col {
        display: flex;
        flex-direction: column;

        ion-icon {
            align-self: center;
        }
    }
}