ion-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#trainerSection {
    position: relative;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    >ion-col {
        height: 100%;
        width: 100%;

        --ion-grid-column-padding: 0;

        ion-row {
            height: 100%;
            width: 100%;

            #teamBg {
                height: 100%;
                width: 100%;
                // background-image: url("https://raw.githubusercontent.com/TeamTomodachi/GakkoFront/master/src/assets/bg_msfade.png");
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    // Hard-Coded Assets until we can figure something dynamic with this (need DB)
    .pkmn {
        position: absolute;
        bottom: 0;
    }

    #pkmn1 {
        left: -15%;
        z-index: 1;
    }

    #pkmn2 {
        left: 7%;
        bottom: 22%;
        z-index: 0;
    }

    #pkmn3 {
        left: 14%;
        z-index: 2;
    }

    #trainerModel {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;      
        z-index: 4;
    }
    // End Asset


    #trainerDesc {
        position: absolute;
        left: 5%;
        top: 10%;

        // display: none;

        width: 30%;

        color: white;
        text-shadow: 2px 2px #000;
        font-family: 'Lato', sans-serif;
        font-weight: bold;

        z-index: 2;
    }
}

#achievementSection {
    position: relative;

    height: auto;

    text-align: center;
}

#trainerNav {
    position: relative;
    bottom: 0;
    height: auto;
    padding-top: 3%;

    ion-col {
        display: flex;
        flex-direction: column;

        ion-icon {
            align-self: center;
        }
    }
}
