<form *ngIf="loaded" #form="ngForm" class="form" (ngSubmit)="onSubmit()" name="ngForm">
  <h3>Edit your profile</h3>
  <ion-list>
    <ion-item>
      <ion-label>Display name</ion-label>
      <ion-input type="text" [(ngModel)]="me.username" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Trainer Code</ion-label>
      <ion-input pattern="\d{4} \d{4} \d{4}" type="text" [(ngModel)]="me.trainerCode" name="trainerCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="me.gender" name="gender">
        <ion-select-option [value]="+0">
          Prefer not to say
        </ion-select-option>
        <ion-select-option [value]="+1">
          Male
        </ion-select-option>
        <ion-select-option [value]="+2">
          Female
        </ion-select-option>
        <ion-select-option [value]="+3">
          Other
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Team</ion-label>
      <ion-select [(ngModel)]="me.team.id" name="teamId">
        <ion-select-option *ngFor="let team of teams" value="{{team.id}}">
          {{team.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pokemon 1</ion-label>
      <ion-select [(ngModel)]="me.featuredPokemen[0].id" name="poke1name">
        <ion-select-option *ngFor="let pokemon of pokemen" value="{{pokemon.id}}">
          {{pokemon.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pokemon 2</ion-label>
      <ion-select [(ngModel)]="me.featuredPokemen[1].id" name="poke2name">
        <ion-select-option *ngFor="let pokemon of pokemen" value="{{pokemon.id}}">
          {{pokemon.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pokemon 3</ion-label>
      <ion-select [(ngModel)]="me.featuredPokemen[2].id" name="poke3name">
        <ion-select-option *ngFor="let pokemon of pokemen" value="{{pokemon.id}}">
          {{pokemon.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="primary" type="submit" value="Submit" class="btn" name="submit">Submit</ion-button>
    <ion-button color="danger" class="btn" name="cancel" (click)="closeForm()">Cancel</ion-button>
  </ion-list>
</form>