#map {
    border: 1px solid #AAA;
    position: absolute;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.crosshairs:before, .crosshairs:after {
    content: '';
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 40%;
    right: 40%;
    z-index: 999;
    pointer-events: none;
  }
  .crosshairs:before {
    bottom: 50%;
    border-bottom: 2px #000 solid;
  }
  .crosshairs:after {
    right: 50%;
    border-right: 2px #000 solid;
  }