<h2>Room Number {{roomNum}}</h2>
<div #map id="map" class="crosshairs"></div>
<ion-grid>
  <ion-row>
    <ion-col>
      <img src="../../../assets/map_placeholder.PNG"/>
    </ion-col>
  </ion-row>

</ion-grid>
<ion-button color="danger" class="btn" name="cancel" (click)="leaveRoom()">Leave Room</ion-button>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>