<div class="ion-text-center">
  <h2>Room Number {{raid.roomNum}}</h2>
</div>
<div #map id="map" class="crosshairs"></div>
<ion-grid>
  <ion-row>
    <ion-col>
      <img src="../../../assets/map_placeholder.PNG"/>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-col>
                <ion-row>
                <ion-col size="3">
                  <img class="raidThumb" src="https://loremflickr.com/200/200/city" alt="Raid location">
                </ion-col>
                <ion-col size="9" class="raidInfo">
                  <ion-row>
                    <ion-col size="8">
                        <ion-label class="raidLocation">Room number: {{ raid.roomNum }}</ion-label>
                    </ion-col>
                      <ion-col size="4">
                        <ion-label class="raidTime">*TIME*{{ raid.time }}</ion-label>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-label class="raidAddress">*LOCATION*{{ raid.address }}</ion-label>
                  </ion-row>
                </ion-col>
              </ion-row>
              </ion-col>
            </ion-item>
        </ion-list>
      </ion-col>
  </ion-row>

  <ion-row>

  </ion-row>

</ion-grid>
<ion-button color="danger" class="btn" name="cancel" (click)="leaveRoom()">Leave Room</ion-button>