<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>

    <div id="trainerSection">
      <img src="assets/surprisedPika.jpg" alt="Surprised Pika">
    </div>

    <div id="achievementSection">
      <div id="level">
        <div id="lvNum">40</div>
        <div id="lvLabel">Level</div>
      </div>
      <div id="badges">
        <div class="badge">Badge One</div>
        <div class="badge">Badge Two</div>
        <div class="badge">Badge Three</div>
        <div class="badge">Badge Four</div>
        <div class="badge">Badge Five</div>
      </div>
    </div>

    <div id="trainerNav">
      <div class="navButton">
        <div class="navIcon"></div>
        <div class="navText">Pokedex</div>
      </div>
      <div class="navButton">
        <div class="navIcon"></div>
        <div class="navText">Teams</div>
      </div>
      <div class="navButton">
        <div class="navIcon"></div>
        <div class="navText">Trades</div>
      </div>
    </div>
  </main>
</ion-content>
