:root {
	--ion-color-primary: #225a7d;
	--ion-color-primary-rgb: 34,90,125;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #1e4f6e;
	--ion-color-primary-tint: #386b8a;
}

.raidThumb {
    border-radius: 100%;
}

//to keep the map at a set aspect ratio - appears to help loading map tiles
#mapContainer{
	position: relative;
	width: 90%;
	margin: auto;
}
#mapContainer:before{
	content: "";
	display: block;
	padding-top: 75%;
}
