<form class="form" (ngSubmit)="onSubmit()">
    <ion-input type="text" name="time" [(ngModel)]="time" placeholder="Enter time..."></ion-input>
    <ion-input type="text" name="level" [(ngModel)]="level" placeholder="Enter raid level..."></ion-input>
    <ion-checkbox type="checkbox" name="private" [(ngModel)]="private" id="private"></ion-checkbox><label for="private">Private room?</label>
    <ion-button color="primary" type="submit" value="Submit" class="btn">Submit</ion-button>
    <ion-button color="danger" type="submit" value="Submit" class="btn" (click)="closeForm();">Cancel</ion-button>
</form>
